.cover {
  background-image: url("../../images/cover-trains.jpg");
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
