.footer {
  box-sizing: border-box;
  padding: 92px 0px 24px;
  color: #ffffff;
  max-width: 1184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width:1279px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width:1000px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width:400px) {
  .footer {
    display: block;
    padding-top: 64px;
    padding-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
